:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color: #dbdbdb;
    --gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 30px;
    --header-sort-bar-height: 50px;
    --header-search: calc(var(--header-height) - var(--navbar-height));
}

* { 
    box-sizing: inherit;
}

html {
    /* font-size: 10px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__col-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% / 5);
}

.grid__col-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%; 
}

a {
    text-decoration: none;
}

.primary--color {
    color: var(--primary-color);
}

.btn {
    min-width: 90px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--white-color);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn-size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.strong {
    font-weight: 400;
}

.line {
    width: 2px;
    background: #ccc;
    opacity: 0.7;
    height: 1.6rem;
}


.no-pointer:hover {
    cursor: unset;
    color: rgba(255, 255, 255, 1);
}



/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    form {
        transform: scale(var(--growth-form));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    min-width: 200px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input__label {
    font-size: 1.4rem;
    cursor: default;
    color: var(--text-color);
}

.select-input__icon {
    font-size: 1.2rem;
    color: rgb(131, 131, 131);
}

.select-input__lists {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 0;
    display: none;
    z-index: 2;
}

.select-input__lists::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -6px;
}

.select-input:hover .select-input__lists {
    display: block;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 12px;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color)
}

.pagination-item__link {
    display: block;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
